/* Algemeen Formulier Stijl */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Ruimte tussen de formulier elementen */
    max-width: 600px; /* Beperk de breedte van het formulier */
    margin: 0 auto; /* Centreer het formulier horizontaal */
    padding: 1rem; /* Padding voor eenvoudiger ontwerp */
    background-color: var(--background-color-light); /* Licht grijze achtergrond voor het formulier */
    border-radius: 8px; /* Afgeronde hoeken voor een moderne uitstraling */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtiele schaduw voor diepte */
}

/* Input en textarea Stijl */
input, textarea {
    border-radius: 4px;
    border: 1px solid var(--border-color); /* Randkleur voor input en textarea */
    padding: 0.5rem; /* Padding voor betere gebruikerservaring */
    font-size: 1rem; /* Zorg ervoor dat de tekstgrootte leesbaar is */
    color: var(--text-color); /* Tekstkleur voor input en textarea */
}

/* Focusstijl voor Input en Textarea */
input:focus, textarea:focus {
    border-color: var(--primary-color); /* Diep Marineblauw bij focus */
    outline: none; /* Verwijder de standaard focus outline */
}

/* Specifieke Stijl voor Textarea */
textarea {
    resize: vertical; /* Sta verticale herpositionering toe */
    min-height: 80px; /* Minimale hoogte voor textarea */
}

/* Submit Button */
input[type="submit"] {
    background-color: var(--primary-color); /* Diep Marineblauw voor submit knoppen */
    color: var(--background-color-light); /* Witte tekstkleur voor submit knoppen */
    border: none;
    padding: 0.5rem; /* Padding voor eenvoudiger ontwerp */
    font-size: 1rem; /* Zorg ervoor dat de tekstgrootte leesbaar is */
    border-radius: 4px; /* Afgeronde hoeken */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Overgangseffect voor hover */
}

/* Hover effect voor Submit Button */
input[type="submit"]:hover {
    background-color: var(--secondary-color); /* Goudkleurig bij hover */
}

/* Media Queries voor Responsiveness */
@media (max-width: 768px) {
    form {
        padding: 0.75rem; /* Aangepaste padding op kleinere schermen */
    }

    input, textarea {
        padding: 0.4rem; /* Kleinere padding voor input en textarea */
    }

    textarea {
        min-height: 60px; /* Kleinere minimale hoogte voor textarea */
    }
}

@media (max-width: 576px) {
    form {
        padding: 0.5rem; /* Kleinste padding op de kleinste schermen */
    }

    input, textarea {
        padding: 0.3rem; /* Kleinste padding voor input en textarea */
        font-size: 0.875rem; /* Kleinere tekstgrootte voor input en textarea */
    }

    textarea {
        min-height: 50px; /* Kleinste minimale hoogte voor textarea */
    }

    input[type="submit"] {
        padding: 0.4rem; /* Kleinere padding voor de submit knop */
        font-size: 0.875rem; /* Kleinere tekstgrootte voor de submit knop */
    }
}
