/* src/assets/css/Footer.css */

/* src/assets/css/Footer.css */

/* Footer-stijlen */
footer {
    background-color: #2C2C2C; /* Donkergrijs voor de footer */
    color: #FFFFFF; /* Witte tekst in de footer */
    padding: 2rem 1rem;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .footer-about, .footer-links, .footer-social {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-link, .footer-links a {
    color: #D9534F; /* Primair Rood voor links */
    text-decoration: none;
  }
  
  .footer-link:hover, .footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Social media iconen */
  .social-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 1rem;
  }
  
/* Media Queries voor Responsiveness */
@media (max-width: 992px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-about, .footer-links, .footer-social {
        min-width: 100%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .footer-social img {
        width: 20px;
        height: 20px;
    }
}
