/* src/assets/css/Triforce.css */
.triforce-svg {
  fill: transparent;
  stroke: #f0c000;
  stroke-width: 2;
  transition: transform 0.5s ease-in-out, fill 0.5s ease;
  cursor: pointer;
}

.triforce-triangle {
  fill: #f0c000;
  stroke: none;
  transition: fill 0.5s ease;
}

/* Hover effect om de Triforce te laten groeien */
.triforce-svg:hover {
  transform: scale(1.2);
}

/* Hover effect om de kleur van de driehoeken te veranderen */
.triforce-svg:hover .triforce-triangle {
  fill: #e0a000;
}
